<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_motion)/urdf/all.xacro" />
    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find robot_motion)/config/controller.yaml" command="load" />
        <param name="sim" value="true" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_motion)/config/base.rviz" /> 
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
</launch>