<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>
    <node pkg="tftransform" type="dynamic_tf_publisher.py" name="dy_tf_transform_pub_node" output="screen"></node>
    <node pkg="tftransform" type="dynamic_tf_subscriber.py" name="dy_tf_transform_sub_node" output="screen"></node>
</launch>