<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="key_control" output="screen"/>

    <node pkg="tftransform" type="follow_turtle_server.py" name="turtle_spawn" output="screen"/>

    <node pkg="tftransform" type="follow_turtle_publisher.py" name="tf_pub1" args="turtle1" output="screen"/>
    <node pkg="tftransform" type="follow_turtle_publisher.py" name="tf_pub2" args="turtle2" output="screen"/>
    <node pkg="tftransform" type="follow_turtle_subscriber.py" name="tf_sub" output="screen"/>

</launch>